[Unit]
Description=algorithmVisualizer
After=network.target

[Service]
ExecStart=/usr/bin/node /var/www/algorithmVisualizer/server.js
Restart=always
RestartSec=500ms
StartLimitInterval=0
User=nobody
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/var/www/algorithmVisualizer

[Install]
WantedBy=multi-use.target