/* Overall */
html {
    box-sizing: border-box;
    height: 100vh;
}

body {
    margin: 0;
}

a {
    color: #000;
    text-decoration: none;
}

p {
    margin-bottom: 5px;
}

ul {
    padding-left: 15px;
}

#footer {
    width: 100%;
    height: 120px;
    padding-top: 30px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 0;
}

.icon-footer {
    margin: 1%;
}

/* Overview page  */

/* Overview page nav bar */
.navbar {
    padding: 0.5% 3%;
    background-color: #092C4B;
}

.navbar-brand {
    color: #fff;
}

#title .container {
    text-align: center;
    margin: 3rem auto;
}

/* Card */
.colored-section {
    background-color: #EAEAEA;
    margin: 0;
}

.white-section {
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
}

.algorithm-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #F4F4F4;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    flex-grow: 0.5;
}

.card {
    width: 400px;
    height: 350px;
}

/* Algorithm page */
.hidden {
    display: none !important;
}

/* Carousel modal */
.overlay {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 1;
}
  
.modal {
    position: relative;
    display: block;
    width: 700px;
    height: 600px;
    /* width: 70%; */
    
    background-color: #fff;
    padding: 3rem 8rem 2rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 2;
}

.modal-title {
    margin-bottom: 1.5rem;
}

.modal-image {
    height: 200px;
    width: 500px;
}

.modal-text-container {
    padding-top: 2rem;
    text-align: left !important;
    font-size: 16px;
    height: 200px;
    width: 500px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 2.4rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
    z-index: 3;
}
  
.carousel-control-prev-icon, .carousel-control-next-icon {
    position: absolute;
    filter: invert(100%);
}

.carousel-control-prev-icon {
    left: 2rem;
}

.carousel-control-next-icon {
    right: 2rem;
}

.carousel-indicators {
    position: relative;
    margin-top: 3rem;
    filter: invert(100%);
}

/* Navigation bar for algorithm page */
.back-btn {
    color: #fff;
}

.algorithm-navbar {
    background-color: #F4F4F4;
    display: flex;
}

.algorithm-home-navbar {
    display: inline-block;
    padding: 0.5% 3%;
    background-color: #092C4B;
}

.algorithm-title {
    margin-left: 1.5rem;
}

.widget-bar {
    display: flex;
    padding: auto 1rem; 
    align-items: center;

    padding: 0.5rem;
    font-size: 1rem;
}

#help-btn {
    background-image: url("./../img/circle-question-solid.svg");
    width: 25px;
    height: 25px;
    padding: 0;
    margin: 0;
    margin-left: 1.5rem;
    user-select: none;
}

#help-btn:hover {
    cursor: pointer;
}

/* Choose algorithm btn  */
#choose-algorithm-btn-group {
    border-color: #06375A;
    margin-left: 1rem;
}

#choose-algorithm-btn-text {
    width: 170px;
}

.choose-algorithm-inner {
    background-color: #fff;
}

.dropdown-item {
    user-select: none;
}

.dropdown-item:focus {
    background-color: #c3d1f1;
    color: #000;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

/* Data range slider  */
.slider-container {
    display: inline-block;
}

.slider {
    position: relative;
    top: 3px;
    margin-left: 1rem;
}

/* Speed btn  */
#slow-speed-btn {
    margin-left: 1rem;
}

#medium-speed-btn {
    background-color: #525252;
    color: #fff;
}

.speed-btn {
    background-color: #fff;
    border-width: thin;
    border-color: #06375A;
    color: #000;
}

.speed-btn:hover {
    background-color: #525252;
    color: #fff;
}

/* Restart btn */
.restart-btn {
    float: right;
    margin-left: 4rem;
}

.restart-btn:hover {
    background-color: #525252;
    color: #fff;
}

.btn-light {
    border-color: #06375A;
}

/* Error message  */
#error-message {
    position: absolute;
    width: 100%;
    z-index: 1;
}

/* Sorting algorithm */
.slider-container {
    margin-right: 1rem;
}

.slider {
    position: relative;
    top: 0.5%;
    -webkit-appearance: none;
    width: 80%;
    height: 7px;
    border-radius: 5px;
    background: #c6c6c6;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .3s;
    transition: opacity .3s;
}

.slider:hover {
    opacity: 1;
    background: #fff;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(6, 33, 123);
    cursor: pointer;
}

#sort-btn {
    float: right;
    margin-left: 2rem;
}

#sort-btn:hover {
    background-color: #fbe055;
    /* color: #fff; */
}

/* Bar graph for sorting algorithm */
@media (min-height: 690px) {
    #sorting-algorithm-visualizer-container {
        position: absolute;
        bottom: 120px;
    }
}

@media (max-height: 690px) {
    #sorting-algorithm-visualizer-container {
        position: relative;
    }
}

#sorting-algorithm-visualizer-container {
    display: flex;
    justify-content: center;
    min-height: 510px;
    width: 100%;
    margin: 0;
}

.bar-graph-container {
    position: absolute;
    display: flex;
    bottom: 0;
    justify-content: center;
    width: 95%;
    margin: 0;
}

.bar-graph {
    background-color: #000;
    margin: auto 1px 0px 1px;
    width: 8px;
}

/* Sorting algorithm footer */
.sorting-algorithm-footer {
    background-color: #F4F4F4;
}

@media (min-height: 690px) {
    .sorting-algorithm-footer {
        position: absolute;
        bottom: 0;
    }  
}

/* Pathfinding algorithm */
#generate-maze-btn-group {
    border-color: #06375A;
    margin: 0;
    margin-left: 1rem;
}

#generate-maze-btn-text {
    width: 140px;
}

.generate-maze-inner {
    background-color: #fff;
}

#clear-board-text, #clear-path-text, #reset-board-text {
    font-size: 17px;
    font-weight: 500;
    padding: 0;
    margin: 0;
    margin-left: 1.7rem;
    color: rgb(55, 73, 144);
    user-select: none;
}

#clear-board-text:hover, #clear-path-text:hover, #reset-board-text:hover {
    color: #055eed;
    cursor: pointer;
}

#find-path-btn {
    margin-left: 2.5rem;
    margin-right: 1rem;
}

#find-path-btn:hover {
    background-color: #2b59cc;
    color: #fff;
}

/* Board for pathfinding algorithm */
#pathfinding-algorithm-visualizer-container {
    width: 100%;
    padding: 0;
    margin: 0;
}

.board-container {
    margin: 0;
}

#board {
    user-select: none;
}

.board-node {
    width: 25px;
    height: 25px;
    border: 1px solid;
    border-collapse: collapse;
    border-color: #6082B6;
    margin: 0;
    padding: 0;

    cursor: copy;
}

.start-node {
    background-image: url(./../img/circle-dot-solid.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    cursor: grab;
}

.end-node {
    background-image: url(./../img/periscope-brands.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    cursor: grab;
}

.start-node-path, .end-node-path {
    background-color: rgb(255, 255, 255);
    border: #FFF;
}

.relocating-node {
    cursor: grabbing;
}

.restricted-node {
    cursor: not-allowed;
}

.running-node {
    background-color: #12C69A;
    border-color: #FFF;
}

.neighbor-node {
    background-color: #e2f3f8;
    border-color: #aec8ee;
}

.wall-node {
    background-color: #000;
    border-color: rgb(85, 85, 85);
    
    cursor: pointer;
}

.shortest-path-node {
    background-image: url(./../img/circle-solid.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    background-color: #FFF;
    border: none;
}

/* Pathfinding algorithm footer */
.pathfinding-algorithm-footer {
    background-color: #F4F4F4;
    position: absolute;
    bottom: 0;
}  
